.name-input {
  grid-column: 1;
}

.subject-input {
  grid-column: 2;
  grid-row: 1;
}
.description-input {
  grid-column: 1 / -1;
}

.add-homework-form--container {
  width: 100%;
  margin: auto;
  max-width: 50rem;
  padding: 3rem;
}

.free-day {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.free-day--informations {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.free-day--date h2 {
  font-size: large;
  vertical-align: center;
}

.free-day--date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7rem;
  align-items: center;
}

.free-day--button {
  height: 2.4rem;
  width: 2.4rem;
  position: relative;
  border: none;
  padding: 0 !important;
  background-color: #2563eb;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.free-days--message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.free-day--button:hover,
.free-day--button:active {
  background-color: #3b82f6;
}

.free-day--button_disabled:hover,
.free-day--button_disabled {
  background-color: #bbb;
}
.free-day--button_disabled {
  background-color: #bbb;
  cursor: not-allowed;
}

.free-day--icon-right {
  transform: translate(7%, 10%);
}
.free-day--icon-left {
  transform: translate(-7%, 10%);
}

.free-days {
  height: 100%;
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.free-day--space-content {
  display: flex;
  justify-content: space-between;
  font-size: medium;
}

.select-free-days {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  height: 100vh;
  overflow: hidden;
}

.free-days--container {
  height: 100%;
  width: 100%;
}

.free-days--button-container {
  gap: 1.4rem;
  display: flex;
}

.creating-homework-informations--container {
  padding: 1rem;
}

.name {
  font-size: 3.2rem;
  color: #2563eb;
  letter-spacing: -0.1rem;
  margin-bottom: 0.5rem;
}

.subject {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.expiration-date {
  font-size: 1.2rem;
}

.free-days--informations {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.free-days--informations-actions button {
  padding: 0 1rem;
}

.time-to-assign {
  font-size: 1.2rem;
}

.free-days--informations-actions {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.time-to-assign--value {
  font-size: 1.8rem;
}

.center-flex {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  color: #dd4848;
}
