.name-input {
  grid-column: 1;
}

.subject-input {
  grid-column: 2;
  grid-row: 1;
}
.description-input {
  grid-column: 1 / -1;
}

.add-homework-form--container {
  width: 100%;
  margin: auto;
  max-width: 50rem;
  padding: 3rem;
}

.free-day {
  margin: 2rem;
}

.free-days {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.select-free-days {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  height: 100vh;
}

.free-days--container {
  grid-row: 1 / -1;
  overflow: scroll;
}

.creating-homework-informations {
  background-color: aquamarine;
}

.selected-days {
  background-color: red;
  overflow: scroll;
}
