.name-input {
  grid-column: 1;
}

.subject-input {
  grid-column: 2;
  grid-row: 1;
}
.description-input {
  grid-column: 1 / -1;
}

.add-homework-form--container {
  width: 100%;
  margin: auto;
  max-width: 50rem;
  padding: 3rem;
}

.free-day {
  margin: 1.2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.free-day--informations {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.free-day--date h2 {
  font-size: large;
  vertical-align: center;
}

.free-day--date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7rem;
  align-items: center;
}

.free-day--button {
  height: 2.4rem;
  width: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #2563eb;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.free-days--message {
  width: 100%;
  text-align: center;
}

.free-day--button:hover,
.free-day--button:active {
  background-color: #3b82f6;
}

.free-day--button_disabled:hover,
.free-day--button_disabled {
  background-color: #bbb;
}
.free-day--button_disabled {
  background-color: #bbb;
  cursor: not-allowed;
}

.free-day--icon-right {
  transform: translate(7%, 0);
}
.free-day--icon-left {
  transform: translate(-7%, 0);
}

.free-days {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.free-day--space-content {
  display: flex;
  justify-content: space-between;
  font-size: medium;
}

.select-free-days {
  display: grid;
  gap: 2rem;
  padding-left: 2rem;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.free-days--container {
  height: 100vh;
  grid-row: 1 / -1;
  grid-column: 2 / -1;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

.creating-homework-informations--container {
  padding-top: 2rem;
}

.selected-days--container {
  padding: 3rem;
  overflow: scroll;
}
