.input-container {
  display: flex;
  flex-direction: column;
  height: auto;
}

.label {
  font-weight: 500;
  font-size: larger;
}

.input {
  padding: 0.5rem;
  font-size: large;
  border: 1px solid #000;
}

.input:focus {
  outline: none;
}

.error-text {
  margin-top: 0.2rem;
  font-weight: 500;
  font-size: medium;
  text-align: right;
  align-self: right;
  margin-left: auto;
  color: #dd4848;
}

.title-container {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  margin-bottom: 0.3rem;
}

.error {
  color: #dd4848;
}
.error input,
.error textarea {
  border: 2px solid #dd4848;
  padding: calc(0.5rem - 1px);
}

/* ef4444 */
.text-area {
  font-family: inherit;
  resize: none;
  padding: 0.5rem;
  font-size: large;
  border: 1px solid #000;
  height: 6rem;
}
