.nav-bar ul {
  display: flex;
  gap: 2.4rem;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 3.2rem;
}

.nav-bar p,
.nav-bar a,
.nav-bar a:link,
.nav-bar a:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #1f2937;
}

.nav-bar a:hover,
.nav-bar a:active {
  color: #2563eb;
}
